{% extends "../base.html" %}
{% block body %}
 <form action="/design/add" enctype="multipart/form-data" method="post" role="form">
  <div class="form-group">
   <label for="body">
    body
   </label>
   <input class="form-control" id="body" name="body" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="category">
    category
   </label>
   <input class="form-control" id="category" name="category" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="updated">
    updated
   </label>
   <input class="form-control" id="updated" name="updated" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="designer">
    designer
   </label>
   <input class="form-control" id="designer" name="designer" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="costunit">
    costunit
   </label>
   <input class="form-control" id="costunit" name="costunit" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="created">
    created
   </label>
   <input class="form-control" id="created" name="created" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="title">
    title
   </label>
   <input class="form-control" id="title" name="title" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="avatar">
    avatar
   </label>
   <input class="form-control" id="avatar" name="avatar" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="user">
    user
   </label>
   <input class="form-control" id="user" name="user" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="id">
    id
   </label>
   <input class="form-control" id="id" name="id" placeholder="" type="text"/>
  </div>
  <div class="form-group">
   <label for="description">
    description
   </label>
   <input class="form-control" id="description" name="description" placeholder="" type="text"/>
  </div>
  <button class="btn btn-default" type="submit">
   Submit
  </button>
  {% raw xsrf_form_html() %}
 </form>
 {% end %}
