{% extends "../base.html" %}
{% block body %}
 <table border="1">
  <thead>
   <tr>
    <th>
     date
    </th>
    <th>
     items
    </th>
    <th>
     total
    </th>
    <th>
     userid
    </th>
    <th>
     identifier
    </th>
   </tr>
  </thead>
  <tbody>
   {% for x in cart %}
   <tr>
    <td>
     {{ x["date"] }}
    </td>
    <td>
     {{ x["items"] }}
    </td>
    <td>
     {{ x["total"] }}
    </td>
    <td>
     {{ x["userid"] }}
    </td>
    <td>
     {{ x["identifier"] }}
    </td>
    {% end %}
   </tr>
  </tbody>
 </table>
 {% end %}
