{% extends "../base.html" %}
{% block body %}
 <table border="1">
  <thead>
   <tr>
    <th>
     username
    </th>
    <th>
     password
    </th>
    <th>
     avatar
    </th>
    <th>
     firstname
    </th>
    <th>
     lastname
    </th>
    <th>
     identifier
    </th>
    <th>
     email
    </th>
   </tr>
  </thead>
  <tbody>
   {% for x in user %}
   <tr>
    <td>
     {{ x["username"] }}
    </td>
    <td>
     {{ x["password"] }}
    </td>
    <td>
     {{ x["avatar"] }}
    </td>
    <td>
     {{ x["firstname"] }}
    </td>
    <td>
     {{ x["lastname"] }}
    </td>
    <td>
     {{ x["identifier"] }}
    </td>
    <td>
     {{ x["email"] }}
    </td>
    {% end %}
   </tr>
  </tbody>
 </table>
 {% end %}
