<!DOCTYPE html>
<html lang="en">
<head>
<meta content="IE=edge; charset=utf-8" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link media="all" href="/static/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<title>controlprint</title>
<script src="/static/lib/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/static/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
{% block body %}{% end %}
<div class="container">
<div class="row">
</div>
</div>
</body>
</html>