<!--
 templates/signup.html
-->
{% extends "base.html" %}
{% block body %}
    <div class="container main-container">
        <div class="row">
        	<div class="col-lg-3 col-md-3 col-sm-12">

				<!-- RECENT PRODUCT 
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="no-padding">
	            		<span class="title">RECENT PRODUCT</span>
	            	</div>
		                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
		                	<a href="detail.html" class="link-p">
		                    	<img src="images/product-5.jpg" alt="">
		                	</a>
		                    <div class="caption prod-caption">
		                        <h4><a href="detail.html">Live Nation 3 Days of Peace and Music Carbon</a></h4>
		                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
		                        <p>
		                        	<div class="btn-group">
			                        	<a href="#" class="btn btn-default">$ 428.96</a>
			                        	<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
		                        	</div>
		                        </p>
		                    </div>
		                </div>
		                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 visible-sm text-center">
		                	<a href="detail.html" class="link-p">
		                    	<img src="images/product-6.jpg" alt="">
		                	</a>
		                    <div class="caption prod-caption">
		                        <h4><a href="detail.html">Live Nation ACDC Gray T-Shirt</a></h4>
		                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
		                        <p>
		                        	<div class="btn-group">
			                        	<a href="#" class="btn btn-default">$ 428.96</a>
			                        	<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
		                        	</div>
		                        </p>
		                    </div>
		                </div>
				</div>
				 End RECENT PRODUCT -->
        	</div>

        	<div class="clearfix visible-sm"></div>

			<!-- Cart -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">Create Your Web2print Account</span>
            	</div>
	            <div class="col-lg-6 col-sm-6 hero-feature">
	            	<form action="/signup" enctype="multipart/form-data" method="post" role="form" id="form-signup">
                    <table class="table table-bordered tbl-checkout">
						<tbody>
							<tr>
                                <td>Your Name</td>
                                <td>
                                    <input type="text" id="name" name="name" class="form-control" />
                                </td>    
                            </tr>
                            <tr>
								<td>Email Address</td>
                                <td>
                                    <input type="text" id="email" name="email" class="form-control" />
                                </td>
                            </tr>
                             <tr>
								<td>Password</td>
                                <td>
                                    <input type="password" id="password" name="password" class="form-control" />
                                </td>
                            </tr>
						</tbody>
                    </table>
					<div class="btn-group btns-cart">
						<button type="submit" class="btn btn-primary">Create account</button>
					</div>
					 {% raw xsrf_form_html() %}
                   </form>
	            </div>
        	</div>
        	<!-- End Cart -->
        </div>
	</div>
{% end %}