<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">
	<title>Default</title>
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
		  <div class="col-xs-12 col-md-8">LOGO</div>
		  <div class="col-xs-6 col-md-4">NAV</div>
		</div>
		{% block body %}
		{% end %}
		<!-- Site footer -->
		<div class="footer">
			<p>&copy; TornadoGenerator 2014</p>
		</div>
	</div> 
	<script src="/static/js/lib/jquery-2.1.1.min.js"></script>
  	<script src="/static/js/lib/bootstrap.min.js"></script>
</body>
</html>