{% extends "base.html" %}
{% block body %}
<div class="container main-container">
	<div class="row">

		<!-- Slider -->
		<div class="col-lg-9 col-md-12">
			<div class="slider">
				<ul class="bxslider">
					<li>
						<a href="index.html">
							<img src="images/banner_slider-3.jpg" alt=""/>
						</a>
					</li>
					<li>
						<a href="index.html">
							<img src="images/banner_slider-2.jpg" alt=""/>
						</a>
					</li>
					<li>
						<a href="index.html">
							<img src="images/banner_slider-1.jpg" alt=""/>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- End Slider -->

		<!-- Product Selection, visible only on large desktop -->
		<div class="col-lg-3 visible-lg">
			<div class="row text-center">
				<div class="col-lg-12 col-md-12 hero-feature">
					<div class="thumbnail">
						<a href="detail.html" class="link-p first-p">
							<img src="images/product-1.jpg" alt="">
						</a>
						<div class="caption prod-caption">
							<h4><a href="detail.html">Funkalicious Print T-Shirt</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
							<p>
								<div class="btn-group">
									<a href="#" class="btn btn-default">$ 928.96</a>
									<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Product Selection -->
	</div>

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12">

			<!-- Categories -->
			<div class="col-lg-12 col-md-12 col-sm-6">
				<div class="no-padding">
					<span class="title">CATEGORIES</span>
				</div>
				<div class="list-group list-categ">
					<a href="catalogue.html" class="list-group-item">Cras justo odio</a>
					<a href="catalogue.html" class="list-group-item">Dapibus ac facilisis in</a>
					<a href="catalogue.html" class="list-group-item">Morbi leo risus</a>
					<a href="catalogue.html" class="list-group-item">Porta ac consectetur ac</a>
					<a href="catalogue.html" class="list-group-item">Vestibulum at eros</a>
					<a href="catalogue.html" class="list-group-item">Cras justo odio</a>
					<a href="catalogue.html" class="list-group-item">Dapibus ac facilisis in</a>
					<a href="catalogue.html" class="list-group-item">Vestibulum at eros</a>
					<a href="catalogue.html" class="list-group-item">Cras justo odio</a>
					<a href="catalogue.html" class="list-group-item">Dapibus ac facilisis in</a>
				</div>
			</div>
			<!-- End Categories -->

			<!-- Best Seller -->
			<div class="col-lg-12 col-md-12 col-sm-6">
				<div class="no-padding">
					<span class="title">BEST SELLER</span>
				</div>
				<div class="hero-feature">
					<div class="thumbnail text-center">
						<a href="detail.html" class="link-p">
							<img src="images/product-8.jpg" alt="">
						</a>
						<div class="caption prod-caption">
							<h4><a href="detail.html">Penn State College T-Shirt</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
							<p>
								<div class="btn-group">
									<a href="#" class="btn btn-default">$ 528.96</a>
									<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
								</div>
							</p>
						</div>
					</div>
				</div>
				<div class="hero-feature hidden-sm">
					<div class="thumbnail text-center">
						<a href="detail.html" class="link-p">
							<img src="images/product-9.jpg" alt="">
						</a>
						<div class="caption prod-caption">
							<h4><a href="detail.html">Ohio State College T-Shirt</a></h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
							<p>
								<div class="btn-group">
									<a href="#" class="btn btn-default">$ 924.25</a>
									<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
								</div>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End Best Seller -->

		</div>

		<div class="clearfix visible-sm"></div>

		<!-- Featured -->
		<div class="col-lg-9 col-md-9 col-sm-12">
			<div class="col-lg-12 col-sm-12">
				<span class="title">FEATURED PRODUCTS</span>
			</div>
			{% for x in design %}
			<div class="col-lg-4 col-sm-4 hero-feature text-center">
				<div class="thumbnail">
					<a href="/design/get/{{ x["_id"] }}" class="link-p">
						<img src="{{ x["avatar"] }}" alt="">
					</a>
					<div class="caption prod-caption">
						<h4><a href="detail.html">{{ x["title"] }}</a></h4>
						<p>{{ x["description"] }}</p>
						<p>
							<div class="btn-group">
								<a href="#" class="btn btn-default">$ {{ x["costunit"] }}</a>
								<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
							</div>
						</p>
					</div>
				</div>
			</div>
			{% end %}
		</div>
		<!-- End Featured -->

		<div class="clearfix visible-sm"></div>

		<!-- Adidas Category -->
		<div class="col-lg-9 col-md-9 col-sm-12">
			<div class="col-lg-12 col-sm-12">
				<span class="title">ADIDAS</span>
			</div>
			<div class="col-lg-4 col-sm-4 hero-feature text-center">
				<div class="thumbnail">
					<a href="detail.html" class="link-p">
						<img src="images/product-10.jpg" alt="">
					</a>
					<div class="caption prod-caption">
						<h4><a href="detail.html">Adidas Men Blue &amp; Red Striped Polo T-shirt </a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
						<p>
							<div class="btn-group">
								<a href="#" class="btn btn-default">$ 22.22</a>
								<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
							</div>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4 hero-feature text-center">
				<div class="thumbnail">
					<a href="detail.html" class="link-p">
						<img src="images/product-11.jpg" alt="">
					</a>
					<div class="caption prod-caption">
						<h4><a href="detail.html">Adidas Men Flame Black T-shirt</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
						<p>
							<div class="btn-group">
								<a href="#" class="btn btn-default">$ 15.47</a>
								<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
							</div>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4 hero-feature text-center">
				<div class="thumbnail">
					<a href="detail.html" class="link-p">
						<img src="images/product-12.jpg" alt="">
					</a>
					<div class="caption prod-caption">
						<h4><a href="detail.html">Adidas Men Red Printed T-shirt</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
						<p>
							<div class="btn-group">
								<a href="#" class="btn btn-default">$ 20.63</a>
								<a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy</a>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Adidas Category -->

	</div>
</div>
{% end %}